#canvas {
  z-index: -1000;
}

#nav {
  position:fixed;
  z-index: 99;
  top: 5px;
  background-color: #000000;
  border-radius: 5px;
  opacity: 0.5;
  padding: 5px;
  color: white;
  box-shadow: 2px 0px 2px grey;
}

#nav a {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Exo', Arial;
  font-size: 21px;
  
  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

.box {

    width: 700px;
    height:700px;

    padding: 20px 40px;
	
    border-radius: 10px;

    background-color: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3); 
    z-index: -100;
}

#photography {
  padding: 0;
  margin: 0;
}

#photography-scroll-down {
  position: absolute;
  bottom:0;
  width:100%;
  height: 40px;
  background-color: blue;
  z-index: 1;
}

#album {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}


img {
  height: 180px;
  box-shadow: 4px 0 4px 0 grey;
  padding: 5px;
}
img:hover {
  /*position: absolute;*/
  top:0;
  left: 0;
  height: auto;
  width: 700px;
}