<html>
<head>

<title>Ibrahim Muhammad</title>
<link href="/styles/defaults.css" rel="stylesheet" type="text/css"></link>
<link href="/styles/home.css" rel="stylesheet" type="text/css"></link>
<link href="/styles/ibrahim.css" rel="stylesheet" type="text/css"></link>
<link href="/styles/index.css" rel="stylesheet" type="text/css"></link>
<link href="/styles/nav.css" rel="stylesheet" type="text/css"></link>
<link href="/styles/projects.css" rel="stylesheet" type="text/css"></link>
<link href="/styles/syntax-tomorrow.css" rel="stylesheet" type="text/css"></link>
<script src="/javascript/jquery.js"></script>
<script src="/javascript/ibrahim.js"></script>
<link href='http://fonts.googleapis.com/css?family=Mate' rel='stylesheet' type='text/css'>
{% include _google_analytics.html %}
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="name" class="center nav-title">
				<h1><a href="/"><img src="/images/filler.png">Ibrahim Muhammad</a></h1>
			</div>
			<div class="bio center">
				<img id="bio-me" src="/images/ib.jpg">
				<p>
					Engineer, Entrepreneur & Student
					<br/>
					<a href="https://twitter.com/#!/ibrahimm"><img class="icon" src="/images/twitter.png"></a>
					<a href="https://github.com/whistler"><img class="icon" src="/images/github.png"></a>
				</p>
			</div>
			<div id="nav" class="center">
			  <a href="/thoughts"><img src="/images/thoughts.png">Thoughts</a>
			  <a href="/projects"><img src="/images/projects.png">Projects</a>
				<a href="/snippets"><img src="/images/code.png">Code Snippets</a>
			  <a href="/photography"><img src="/images/photography.png">Photography</a>
				<a href="/about"><img src="/images/about.png">About</a>
			</div>
			<div class="float-clear"></div>
		</div>
		