<html>
<head>

<title>Ibrahim Muhammad</title>
<link href="/ibrahim.css" rel="stylesheet" type="text/css"></link>
<link href="/syntax-tomorrow.css" rel="stylesheet" type="text/css"></link>
<script src="/jquery.js"></script>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div id="nav">
		<div class="float-left nav-title">
			<h1><a href="/"><img src="/images/filler.png">Ibrahim Muhammad</a></h1>
		</div>
		<div class="float-right">
		  <a href="/thoughts"><img src="/images/thoughts.png">Thoughts</a>
		  <a href="/projects"><img src="/images/projects.png">Projects</a>
			<a href="/snippets"><img src="/images/code.png">Code Snippets</a>
		  <a href="/photography"><img src="/images/photography.png">Photography</a>
			<a href="/about"><img src="/images/information.png">About</a>
		</div>
		<div class="float-clear"></div>
	</div>
	