/* Generic Styles */

body {
  border-top: 2px solid #8A9B0F;
  font-family: 'Roboto', serif;
}

a:hover {
  text-decoration: none;
}

a {
	color: #8A9B0F;
	text-decoration: none;
}

h1,h2,h3,h4{
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
}

/* Predefined reusable classes */

.float-left {
	float: left;
}

.float-right {
	float: right;
	padding: 10px;
}

.float-clear {
	clear: both;
}

.circle {
  height: 200px;
  width: 200px;
  box-shadow: 1px 0 1px 0 #eee;
  border-radius: 100px
}

.light {
  color: #b3b3b1;
}

.pad-bottom {
  padding-bottom: 25px;
}

.center {
  text-align: center;
}

.date {
  display: block;
  font-style: italic;
}


/* Code */

.highlight, pre {
 font: monospace, courier;
}

hr {
    border-top: 1px solid #eee;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.icon {
  height: 32px;
  width: 32px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  vertical-align: middle;
}

.icon, .icon img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Posts */

ul.posts {
	list-style: none;
}

.posts-list a {
	color: #4c4c4c;
}

.posts-list {
	color: #4c4c4c;
}

.posts li a {
	color: #4c4c4c;
}

.posts-list-item {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.project img {
  vertical-align: middle;
}

.project-description
{
  display: inline-block;
  margin-left: 30px;
  float: right;
  width: calc(100% - 250px);
}
