/* Predefined reusable classes */

.float-left {
	float: left;
}

.float-right {
	float: right;
	padding: 10px;
}

.float-clear {
	clear: both;
}

.circle {
	height: 250px;
  width: 250px;
	box-shadow: 2px 0 2px 0 gray;
	border-radius: 125px
}

.light {
  color: #b3b3b1;
}

.pad-bottom {
  padding-bottom: 25px;
}

.center {
  text-align: center;
}

.date {
  display: block;
  font-style: italic;
}


/* Code */

.highlight {
	padding: 20px;
	padding-left: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.highlight, pre {
 font: monospace, courier;
}
    
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.55), rgba(0,0,0,0.2)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.55), rgba(0,0,0,0.2)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.55), rgba(0,0,0,0.2)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.55), rgba(0,0,0,0.2)); 
    margin-top: 15px;
    margin-bottom: 15px;
}


.icon {
  height: 32px;
  width: 32px;
}

