/* Navigation Bar */

#nav {
  border-radius: 5px;
  padding: 5px;
  color: #000000;
  box-shadow: 0px 0px 1px #efefef;
  vertical-align: middle;
	width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.nav-title {
	font-weight: bold;
	padding: 10px;
}

.nav-title h1 {
	font-size: 1em;
	padding: 0px;
	margin: 0px;
}

#nav a {
  opacity: 0.2;
  color: #000000;
  text-decoration: none;
	padding-left: 10px;
  font-family: 'Droid Sans', sans-serif;
	font-size: 18px;
  
  transition: all 1.5s;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
}

#nav img {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

#nav a:hover {
  opacity: 1;
}
